<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--Honghaier Game Editor : Version 1.0 -->
<plist version="1.0">
<dict>
<key>animations</key>
<dict>
<key>hit</key>
<dict>
<key>delay</key>
<real>0.02500</real>
<key>frames</key>
<array>
<string>lightingN-0.png</string>
<string>lightingN-1.png</string>
<string>lightingN-2.png</string>
<string>lightingN-3.png</string>
<string>lightingN-4.png</string>
<string>lightingN-5.png</string>
<string>lightingN-6.png</string>
<string>lightingN-7.png</string>
<string>lightingN-8.png</string>
<string>lightingN-9.png</string>
<string>lightingN-10.png</string>
<string>lightingN-11.png</string>
<string>space.png</string>
</array>
</dict>
</dict>
</dict>
</plist>
